.item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.text {
  height: 50px;
  font-size: 24px;
  border: 0;
  font-family: "Dosis";
  border: solid #585858;
}

.textarea {
  height: 120px;
  font-size: 24px;
  border: 0;
  font-family: "Dosis";
  border: solid #585858;
}

input[type="text"]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.password {
  height: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  border: solid #585858;
  font-family: "Dosis";
}

.verify {
  height: 40px;
  font-size: 22px;
  border: solid #585858;
  font-family: "Dosis";
}

.itemPassword {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 50px 0 20px 0;
}
